html,
body{
    background: #007bff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: blue;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: blue;
}

.carousel-indicators > li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
  }

  .carousel-indicators > li.active{
    background-color: #007bff;
  }


